{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
	<div class="scroll" id="top">
        test
    </div>

    <button class="button__up" id="btn_scroll">
        <img src="/svg/toup.svg">
    </button>
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}